
 /* .col-md-4 {
    height: 81vh;
    margin-top: 5vh;
  } */
/*
.amyName {
    margin-left: 8.34%;
}*/

/* .col-md-4 p {
    font-size: 25px;
    margin: 20px;
    line-height: 1.2;
} */

/* .name, .maryName {
    font-size: 27px;
  } */
/*
footer {
    padding: 15px 0;
}

footer h1 {
    font-size: 20px;
} */
  