/* .col-md-4 {
    height: 82.5vh;
  }

.amyName {
    margin-left: 8.34%;
    margin-right: 0;
}

.col-5 p {
    font-size: 25px;
    margin: 20px;
}

.name, .maryName {
    font-size: 27px;
  }

footer {
    padding: 15px 0;
}

footer h1 {
    font-size: 20px;
}  */