* {
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

 .firstDiv {
  float: left;
}
.bioDiv{
  float: left;
}  

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .bodyContainer {
  height: auto;
} */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}
body {
  color: #033048;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
  /* height: 200%; */
}

a {
  text-decoration: none !important;
}

header nav ul li a:hover {
  color: #D1D2D4;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  font-family: "Arima Madurai";
  color: #fff;
  margin: 0 0 0 5vw;
}

header {
  background: #65808e;
  padding: 25px 0 0 0;
  overflow: hidden;
  display: block;
}

header .logo {
  float: left;
}

header nav {
  float: right;
  margin-right: 15vw;
  text-align: center;
}

header nav ul {
  margin-top: 0;
}

header nav ul li {
  display: inline;
  margin: 0 0 0 20px;
  font-size: 18px;
}

header nav ul li a {
  color: #D1D2D4;
  border-bottom: 1px solid #D1D2D4;
}

header nav .line {
  width: 2.8em;
  height: .2em;
  background: #1b3e3b;
  border-radius: 1em;
  margin-top: .25em;
}

header nav li:first-child{
  float: right;
  display: none;
  cursor: pointer;
}


 .amyBio {
  font-size: 16px;
}


.maryBio {
  text-align: left;
  font-size: 16px;
} 

.name {
  font-size: 16px;
  text-align: center;
}
.maryName {
  font-size: 16px;
  text-align: center;
}

.boldName {
  font-weight: bold;
}

.col-sm-5 {
  border-top: none;
  padding: 10px;
}

.amyName {
  border-right: none;
}

footer {
  background: #65808e;
  padding: 10px 0;
}

footer h1 {
  font-size: 14px;
  color: white;
  background: #65808e;
  font-weight: 400;
  text-align: center;
} 
.row {
  max-width: 100%;
  margin-left: 0;
}
.col-sm-5 {
  border-bottom: none;
}

@media (max-width: 991px) {
  header nav {
    margin-right: 0;
  }


header {
  padding: 10px 10px 0 10px;
}

h3 {
  font-size: 30px;
}

.logo {
  font-size: 28px;
  margin: 0;
}

header nav {
  width: 100%;
  margin: 0;
}

header nav ul li{
  float: none;
  display: block;
  margin: 0;
  font-size: 18px;
}

header nav ul li:first-child{
  display: block;
  position: absolute;
  top:.6em;
  right:.75em;
}

header nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

header nav ul {
  height:0;
  -webkit-transition:height 1s;
  -o-transition:height 1s;
  transition:height 1s;
  overflow: hidden;
}

header nav ul.slideDown {
  height: 16.1em;
}
}
@media (max-width: 590px) {
  
  header .logo {
    font-size: 20px;
  }
  header nav ul li:first-child {
    top: .4em;
    padding-top: 5px;
  }
  header nav ul li {
    font-size: 13px;
  }
  header nav ul.slideDown {
    height: 13.5em;
  }
}


/* google pixel */
@media screen 
  and (min-width: 411px) 
  and (max-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2.6) {
    
    header .logo {
      margin-left: -12px;
    }
    header nav ul li:first-child {
      top: .4em;
      padding-top: 3px;
      right: .6em;
    }
  } 

/* iphone 6/7/8 plus */
@media screen 
and (min-width : 414px) 
and (max-width : 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  header .logo {
    margin-left: -12px;
  }
  header nav ul li:first-child {
    top: .4em;
    padding-top: 3px;
    right: .6em;
  }
  
} 

@media (max-width: 875px) {
  .col-sm-5 {
    border-bottom: none;
}

@media (max-width: 768px) {
  .col-sm-5 {
    border: none;
    background-color: white;
  }
  .bodyContainer {
    /* background: #DBDDDE; */
    /* height: 100vh; */
  }
  .row {
    /* margin: 0 20px; */
    overflow: hidden;
    background: white;
  }
  footer {
    border-top: 10px solid #65808e;
    /* margin-top: 10px; */
  }
  .col-sm-5 p {
    font-size: 17px;
  }
}
@media (max-width: 425px) {
  header .logo {
    margin-right: 10px;
  }
}

@media (min-width: 300px) {
  footer h1 {
    font-size: 14px;
  }
}
  @media (min-width: 823px) {
    
  .row {
    overflow: hidden;
  }
  }

  @media (min-width: 1024px) {
    
  .row {
    overflow: hidden;
  }
  }

  @media (min-width: 1367px) {
    .col-sm-5 p {
      font-size: 20px;
      margin: 5px 15px;
    }

    .name, .maryName {
      font-size: 22px;
    }
   
  }

  @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1023px) 
and (-webkit-min-device-pixel-ratio: 2) {
 .row {
   margin-top: 3vh;
   margin-bottom: 3.5vh;
 }
}


